html, body {
  height: 100%;
}

#content {
  height: 100%;
}

#alertMessage{
  font-size: 25px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
}

.panel-heading{
  padding: 0.65em;
}

.panel-body{
  overflow: auto;
}

.panel-log{
  background-color: #888;
  overflow: scroll;
  padding: 5px 12px 12px;
  margin-top: 5px;
  font-size: 16px;
}

#consoleRow{
  overflow: hidden;
}

#consoleContent{
  margin-bottom: 0.5em;
  overflow: hidden;
}

#consoleCommand{
  margin-bottom: 0.5em;
}

.panel-body ul{
  margin-bottom: 0px;
}
.panel-body ul li .label{
  margin-top: 2px;
  margin-right: -5px;
}

#groupConsole{
  overflow: auto;
}

#groupConsole{
  overflow: auto;
}

.list-group-item {
  padding: 3px 10px
}



.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 3px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px;
}
.ui-autocomplete > li {
  white-space: nowrap;
}
.ui-autocomplete > li div{
  white-space: nowrap;
  padding: 2px 12px;
}
.ui-autocomplete > li:hover {
  background-color: #eeeeee;
}
.ui-state-active {
  background-color: #dddddd;
}
.ui-helper-hidden-accessible {
  display: none;
}
#txtCommandResults > ul{
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
ul#groupLog > li {
  list-style-type: none;
  min-height: 1em;
  font-family: monospace;
}
ul#groupLog > li span.font-weight-bold{font-weight: bold;}
ul#groupLog > li span.font-weight-lighter{font-weight: lighter;}
ul#groupLog > li span.font-italic{font-style: italic;}
ul#groupLog > li span.text-decoration-underlined{text-decoration: underline;}
ul#groupLog > li span.text-decoration-overlined{text-decoration: line-through;}
ul#groupLog > li span.text-decoration-underlined.text-decoation-overlined{text-decoration: underline line-through;}
ul#groupLog > li span.text-magic {
  color: transparent !important;
  background-image: linear-gradient(    to left,    violet,    indigo,    blue,    green,    yellow,    orange,    red  );
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}